.navbar-list {
    list-style: none;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-item {
    border-left: 1px solid #2f3a4c;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item:last-child {
    border-right: 1px solid #2f3a4c;
}

.navbar-item:hover {
    background-color: #2f3a4c;
}

.navbar-left {
    border-right: 1px solid #2f3a4c;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-left:hover {
    background: #2f3a4c;
}