.sidebar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 300px !important;
    height: 100vh !important;
    background-color: whitesmoke !important;
    color: #495365 !important;
    font-family: sans-serif !important;
    padding: 20px !important;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5) !important;
    transform: translateX(-100%) !important;
    transition: transform 0.3s ease !important;
    z-index: 999 !important;
}

.sidebar.active {
    transform: translateX(0) !important;
}

.sidebar-label {
    border-bottom: 1px solid #d0d5dd !important;
    padding-bottom: 6px !important;
    margin-bottom: 15px !important;
}

.sidebar-list {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.sidebar-item {
    margin-bottom: 15px !important;
    padding: 0 !important;
    padding-left: 20px !important;
}

.sidebar-option {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    border-bottom: 1px solid #d0d5dd !important;
    padding-bottom: 15px;
}

.sidebar-option-label {
    font-size: 14px !important;
    text-align: left !important;
    flex: 1 !important;
    margin-right: 10px !important;
    max-width: 140px;
}

.sidebar-select-container {
    flex: 1 !important;
    max-width: 150px !important;
}

.sidebar-select {
    width: 100% !important;
    font-size: 14px !important;
}

.sidebar-checkbox {
    margin-left: auto !important;
}

.sidebar-input {
    width: 100% !important;
}

.sidebar-button-container {
    display: flex !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    margin-top: 15px !important;
}

.sidebar-button {
    background: #2f3a4c !important;
    color: white !important;
    width: 100% !important;
}